In [1]:
from bnp import bnp
import pandas as pd

# make bnp()

In [2]:
test = bnp()

# import csv or add row

In [3]:
test.data = pd.read_csv('bnp.csv')
test.data

       티커       구매일      구매가  구매개수 화폐
0  133690  20210302  65930.0     1  원
1  133690  20210303  66600.0     1  원

In [4]:
test.add_row(['qqq','20201106',294.3,1,'달러'])
test.data

       티커       구매일      구매가  구매개수  화폐
0  133690  20210302  65930.0     1   원
1  133690  20210303  66600.0     1   원
2     qqq  20201106    294.3     1  달러

# make result dataframe
### (slow)

In [5]:
test.make_result()
test.result

,Close,High,Low,Open,add_value,value,value_change,mdd
2020-11-06,330380.0,332920.0,324160.0,329800.0,1.0,330028.0200,0.000000,0.00
2020-11-09,322950.0,335580.0,320000.0,333930.0,0.0,322949.5254,-0.021448,-0.02
2020-11-10,316600.0,321100.0,312540.0,319420.0,0.0,316599.9794,-0.019661,-0.04
2020-11-11,322330.0,324540.0,316680.0,319420.0,0.0,322326.1264,0.018086,-0.02
2020-11-12,321530.0,326040.0,318990.0,323460.0,0.0,321525.6240,-0.002484,-0.03
...,...,...,...,...,...,...,...,...
2021-03-08,469600.0,484710.0,464810.0,473380.0,0.0,469600.5502,-0.009033,-0.02
2021-03-09,480560.0,486550.0,474160.0,477700.0,0.0,480560.8907,0.023340,-0.00
2021-03-10,483660.0,493310.0,482220.0,489180.0,0.0,483661.7008,0.006452,0.00
2021-03-11,490330.0,495920.0,485530.0,489540.0,0.0,490326.5140,0.013780,0.00
2021-03-12,490420.0,492340.0,482980.0,487400.0,0.0,490422.5600,0.000196,0.00

# make graph

In [ ]:
test.make_figure()
test.fig.update_layout(width=1000, height=1000)
test.fig.show()

# make graph as percent

In [ ]:
test.make_figure(pm='%%%')
test.fig.update_layout(width=1000, height=1000)
test.fig.show()

In [ ]:
test.make_figure(pm=',,%')
test.fig.update_layout(width=1000, height=1000)
test.fig.show()